.s-hero {
    padding: 10.25rem 0  103px 0;
    background: url(../img/bg-hero.png) no-repeat center center / cover;
    height: 800px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .left {
        width: 100%;
        max-width: 48.875rem;
        h1 {
            margin: 1.5rem 0 1.125rem 0;
        }
        p {
            font-weight: 500;
            font-size: 1.375rem;
            color: #fff;
            margin-bottom: 2.5rem;
        }
        .value {
            display: flex;
            strong {
                background-color: #fff;
                padding: 1.125rem 2.25rem;
                font-weight: 700;
                font-size: 1.25rem;
                color: #000;
            }
            a {
                display: block;
                padding: 1.125rem 2.25rem;
                background-color: #3265ea;
                font-weight: 700;
                font-size: 1.25rem;
                color: #fff;
            }
        }
       
    }
    .right {
        width: 100%;
        max-width: 443px;
        position: relative;
        top: 47px;

        button {
            position: relative;
            width: 100%;
            height: 247px;
            border: 2px solid #3265ea;
            overflow: hidden;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
            margin-bottom: 51px;
            .thumbnail {
                width: 100%;
                height: 100%;
            }
    
            .play {
                position: absolute;
                bottom: 25px;
                left: 32px;
            }
        }

        .year-old {
            display: flex;
            align-items: center;
            p {
                color: #fff;
                font-size: 16px;
                max-width: 274px;
                margin-left: 15px;
            }
        }
   
    }

    @media (max-width: 1200px) {
        padding: 5rem 0 5rem 0;
        height: auto;
        background-position-x: 20%;
        .left  {
            max-width: 640px;
            p {
                font-size: 18px;
            }
        }

        .right {
            top: 0;
            max-width: 353px;
            button {
                height: 197px;
            }
        }
    }
}

.s-info-geral {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    background-color: #090A0A;
    display: none;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: block;
                text-align: center;
                font-size: 16px;
                color: #bdc2cb;
                margin-top: 12px;
            }
        }
    }
}

.s-story {
    width: 100%;
    padding: 160px 0 80px 0;
    background: url(../img/bg-story.png) no-repeat top center / cover;
    overflow: hidden;
    display: none;
    .container {
        display: flex;
    }
    .left {
        width: 100%;
        max-width: 629px;
        margin-top: 61px;
        h2 {
            margin: 28px 0 24px 0;
            max-width: 502px;
        }
        p {
            margin-bottom: 56px;
        }
        .corp {
            display: flex;
            align-items: center;
            p {
                font-size: 16px;
                max-width: 324px;
                margin: 0 0 0 46px;
            }
        }
    }
    .kratos-atreus {
      position: relative;
      left: 51px;
      top: 12px;
    }
   
}

.s-characteres {
    padding: 176px 0 143px 0;
    background: url(../img/bg-characters.png) no-repeat center center;
    overflow: hidden;
    display: none;
    .description {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .left {
            width: 100%;
            max-width: 612px;
            h2 {
               margin: 28px 0 24px 0; 
            }
        }
        .right {
            display: flex;
            align-items: center;
            .text {
                span {
                    display: block;
                    font-weight: 500;
                    font-size: 18px;
                    color: #fff;
                    max-width: 143px;
                    margin-top: 22px;
                }
            }
        }
    }
}